<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://t.ctcdn.com.br/zQJZfX1gipxT9hSJURmHrynEJh4=/1889x1063/smart/i590097.jpeg"
        alt=""
        height="200px"
        width="400px">
    </div>
    
    <div class="big-card__title">
        <h1>
            <a href="#">Saiu a nova versao do Angular</a>
        </h1>
        </div>
        <div class="big-card__description">
            <p>
                <a href="#">
                    It is a long established fact that a reader 
                    will be distracted by the readable content of a page when looking at its layout. 
                    The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                    as opposed to using 'Content here, content here', making it look like readable English.       
                </a>
                
            </p>
        </div>

</div>
