<header>
    <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles"> 
    <div class="articles__main">
        <app-big-card photoCover="https://t.ctcdn.com.br/zQJZfX1gipxT9hSJURmHrynEJh4=/1889x1063/smart/i590097.jpeg"
        cardTitle="Nova temp de HOTD"
        cardDescription="Novo alguma coisa"
        >
        </app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card
        cardTitle="Confira spoilers do BTS da nova temporada"
        photoCover="https://i2-prod.cornwalllive.com/incoming/article5941182.ece/ALTERNATES/s1200b/1_EC_CL_MattSmithDOg_10.jpg"
        >

        </app-small-card>
        <app-small-card
        cardTitle="House of the dragon 2: data de lançamento anunciada!"
        photoCover="https://media.gq-magazine.co.uk/photos/624476214a9bdf194462385d/3:2/w_1920,h_1280,c_limit/300322_HouseOfTheDragon_05.jpg"
        >

        </app-small-card>
        <app-small-card
        cardTitle="Veja a árvore genealógica dos Targaryen"
        photoCover="https://www.rbsdirect.com.br/imagesrc/35768590.jpg?version=1575255600"
        >
        </app-small-card>
    </div>
</div>
